#parttime-aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 250px;
  padding: 90px 24px;
  background: #ffffff;
  line-height: 2rem;

  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #dbdbdb;
}
