#parttime-aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 250px;
  padding: 90px 24px;
  background: #ffffff;
  line-height: 2rem;

  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #dbdbdb;

  h3 {
    color: gray;
    margin: 15px 0 5px 0;
  }

  a.active {
    display: block;
    position: relative;
    padding-left: 14px;
    left: -24px;
    font-weight: bold;
    width: 250px;
    height: 30px;
    background: #ededed;
    color: rgb(18, 113, 175);
    border-left: 10px solid rgb(18, 113, 175);
  }
}
