#accountinfo {
  height: 100%;
  width: 100%;
  padding: 90px 35px 20px 300px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .account-container {
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    h2 {
      justify-items: left;
    }

    .profile-box {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .container {
      display: flex;
      flex-direction: row;
      width: 100%;

      .accountBox,
      .payroll-box {
        flex-direction: column;
        justify-content: flex-start;

        height: 600px;
        width: 550px;

        background: white;
        box-shadow: 5px 5px 5px gray;
        border-radius: 20px;
        margin: 45px 0;
        padding: 30px;

        h3 {
          margin-bottom: 20px;
        }
      }

      .accountBox {
        justify-content: space-between;
      }

      .payroll-box {
        margin-left: 5%;

        .table-head {
          width: 100%;
          height: 35px;
          background: #f5f6f7;
          border-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;

          .date,
          .time,
          .pay {
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .time {
            width: 40%;
          }
          .pay {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
