#fullschedule-content {
  height: 100%;
  width: 100%;

  .txtline {
    display: flex;
    justify-content: space-between;
  }

  .full-table {
    height: 100%;
    flex-direction: column;
    padding: 10px 0;

    .tr {
      width: 100%;
      padding: 2% 0;
      border-bottom: 1px solid lightgrey;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      .shift p {
        font-size: 14px;

        & + & {
          margin-top: 8px;
        }
      }

      p {
        text-align: start;
      }
    }
  }
}
