#fullschedule-content {
  height: 100%;
  width: 100%;

  .txtline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;

    svg {
      width: 1rem;
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  .full-table {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow-y: scroll;

    .tr {
      width: 100%;
      border-bottom: 1px solid lightgrey;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;

      .worker {
        width: 40%;
      }
      .worker p {
        text-align: center;
        font-size: 0.9rem;
      }
      .working-time {
        width: 55%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .working-time > p {
        font-size: 0.9rem;
        margin: 0 5px;
      }

      p {
        text-align: start;
      }
    }

    svg {
      opacity: 30%;
      margin: auto auto;
      font-size: 2rem;
    }
  }

  .full-table::-webkit-scrollbar {
    display: none;
  }
}
