#fullschedule-content {
  height: 100%;
  width: 100%;

  .txtline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;

    svg {
      width: 1rem;
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  .full-table {
    height: 100%;
    flex-direction: column;
    padding: 10px 0;

    .tr {
      width: 100%;
      padding: 2% 0;
      border-bottom: 1px solid lightgrey;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      .shift {
        width: 40%;
      }
      .shift p {
        font-size: 14px;
      }
      .working-staff {
        width: 55%;
        display: flex;
        justify-content: center;
      }

      .working-staff > p {
        margin-left: 5px;
      }

      p {
        text-align: start;
      }
    }
  }
}
