#DashboardNotice {
  .tr-head,
  .tr {
    margin-top: 5px;
    display: flex;
    text-align: center;
    height: 2rem;
    align-items: center;
  }

  .tr-head {
    background: #ededee;
  }

  .td1-head,
  .td3-head,
  .td1,
  .td3 {
    width: 30%;
  }

  .td2-head,
  .td2 {
    width: 70%;
  }
}
