@import 'styles/constants/colors';

.notice-container {
  margin-bottom: 2rem;
  width: 80%;

  .title {
    width: 80%;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .notice {
    border: 1px solid $border;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
      border-width: 2px;
      border-color: #58c3cc;
    }
    .date {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}
