#TransitionList {
  height: 72%;
  .current-date {
    text-align: center;
    padding-bottom: 20px;
  }
  .transition-input {
    display: flex;
    input {
      display: inline-block;
      padding: 6px;
      font-size: 1rem;
      width: 93%;
      line-height: 1.5;
      outline: none;
      color: #212529;
      border: 1px solid #ccc;
    }
    .add {
      border: 1px solid #ccc;
      border-left: none;
    }
    .add:hover {
      background-color: rgb(209, 207, 207);
    }
  }
  .transition-list {
    border: 1px solid #999;
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    li {
      border-bottom: 1px solid #ccc;
      .tran-cont {
        display: flex;
        position: relative;
        .tran-check {
          flex-grow: 1;
        }
        .title {
          width: 380px;
          padding: 6px;
          min-height: 60px;
          overflow: scroll;
          flex-grow: 27;
          padding: 20px 15px;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: rgb(246, 246, 246);
          }
        }
        .del-btn {
          flex-grow: 1;
        }
      }
      .completed {
        color: #adb5bd;
        text-decoration: line-through;
        .check-box {
          color: #adb5bd;
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  body {
    #TransitionList {
      .transition-list {
        li {
          .tran-cont {
            .title {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
