<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1
    , initial-scale=1.0">
    <link rel="stylesheet" href="./employeeSignup.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h4>
            회원가입
        </h4>
        <h1>
            스타벅스 - 여의도점
        </h1>
    </div>
    <div class="signUpBox">
        <div class="signUpLeft">
            <form action="#">
                <p>이메일</p>
                <span></span>
                <input type="text" placeholder="이메일을 입력하세요.">
                <p>이름</p>
                <input type="text" placeholder="이름을 입력하세요.">
                <p>비밀번호</p>
                <input type="password" placeholder="비밀번호를 입력하세요.">
                <p>비밀번호 확인</p>
                <input type="password" placeholder="비밀번호를 재입력하세요.">
            </form>
            <button type="submit">회원가입</button>
            <div class="sex-box">
                <p>성별</p>
                <select name="sex" id="">
                    <option value="" selected>성별</option>
                    <option value="man">남자</option>
                    <option value="woman">여자</option>
                </select>
            </div>
            <div class="birthday">
                <p>생년월일</p>
                <form action="#">
                    <input type="text" placeholder="2021/01/01">
                </form>
            </div>
            <div class="position-box">
                <p>직급</p>
                <select name="position" id="">
                    <option value="" selected>직급</option>
                    <option value="#">알바</option>
                    <option value="#">직원</option>
                </select>
            </div>
        </div>
        <div class="signUpRight">
            <h4>
                서비스 사용약관
            </h4>
            <div class="text1">
                헌법개정은 국회재적의원 과반수 또는 대통령의 발의로 제안된다.
                헌법재판소의 조직과 운영 기타 필요한 사항은 법률로 정한다. 모든
                국민은 법률이 정하는 바에 의하여 납세의 의무를 진다. 재판의 심리와
                판결은 공개한다. 다만, 심리는 국가의 안전보장 또는 안녕질서를
                방해하거나 선량한 풍속을 해할 염려가 있을 때에는 법원의 결정으로
                공개하지 아니할 수 있다.
                중앙선거관리위원회는 대통령이 임명하는 3인, 국회에서 선출하는 3인과
                대법원장이 지명하는 3인의 위원으로 구성한다. 위원장은 위원중에서
                호선한다. 모든 국민은 학문과 예술의 자유를 가진다. 국가는 여자의
                복지와 권익의 향상을 위하여 노력하여야 한다. 모든 국민은 헌법과
                법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다.
                모든 국민은 능력에 따라 균등하게 교육을 받을 권리를 가진다.
                이 헌법은 1988년 2월 25일부터 시행한다. 다만, 이 헌법을 시행하기
                위하여 필요한 법률의 제정·개정과 이 헌법에 의한 대통령 및 국회의원의
                선거 기타 이 헌법시행에 관한 준비는 이 헌법시행 전에 할 수 있다.
                대통령의 임기는 5년으로 하며, 중임할 수 없다.
                법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 모든
                국민은 신속한 재판을 받을 권리를 가진다. 형사피고인은 상당한 이유가
                없는 한 지체없이 공개재판을 받을 권리를 가진다. 모든 국민은 법 앞에
                평등하다. 누구든지 성별·종교 또는 사회적 신분에 의하여 정치적·경제적·사회적·문화적
                생활의 모든 영역에 있어서 차별을 받지 아니한다.
                통신·방송의 시설기준과 신문의 기능을 보장하기 위하여 필요한 사항은
                법률로 정한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의
                출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은
                법률로서 확정된다. 모든 국민은 종교의 자유를 가진다. 재판의 전심절차로서
                행정심판을 할 수 있다. 행정심판의 절차는 법률로 정하되, 사법절차가 준용되어야 한다.
                대한민국의 국민이 되는 요건은 법률로 정한다. 국가는 모성의 보호를 위하여
                노력하여야 한다. 대통령은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다.
                예비비는 총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은 차기국회의 승인을
                얻어야 한다. 한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을
                정하여 계속비로서 국회의 의결을 얻어야 한다.
            </div>
            <h4>
                개인정보처리방침
            </h4>
            <div class="text1">
                헌법개정은 국회재적의원 과반수 또는 대통령의 발의로 제안된다. 헌법재판소의
                조직과 운영 기타 필요한 사항은 법률로 정한다. 모든 국민은 법률이 정하는 바에
                의하여 납세의 의무를 진다. 재판의 심리와 판결은 공개한다. 다만, 심리는 국가의
                안전보장 또는 안녕질서를 방해하거나 선량한 풍속을 해할 염려가 있을 때에는 법원의
                결정으로 공개하지 아니할 수 있다.
                중앙선거관리위원회는 대통령이 임명하는 3인, 국회에서 선출하는 3인과 대법원장이
                지명하는 3인의 위원으로 구성한다. 위원장은 위원중에서 호선한다. 모든 국민은
                학문과 예술의 자유를 가진다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야
                한다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을
                권리를 가진다.
                모든 국민은 능력에 따라 균등하게 교육을 받을 권리를 가진다. 이 헌법은 1988년
                2월 25일부터 시행한다. 다만, 이 헌법을 시행하기 위하여 필요한 법률의 제정·개정과
                이 헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는 이
                헌법시행 전에 할 수 있다. 대통령의 임기는 5년으로 하며, 중임할 수 없다.
                법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 모든 국민은 신속한
                재판을 받을 권리를 가진다. 형사피고인은 상당한 이유가 없는 한 지체없이 공개재판을
                받을 권리를 가진다. 모든 국민은 법 앞에 평등하다. 누구든지 성별·종교 또는 사회적
                신분에 의하여 정치적·경제적·사회적·문화적 생활의 모든 영역에 있어서 차별을 받지
                아니한다.
                통신·방송의 시설기준과 신문의 기능을 보장하기 위하여 필요한 사항은 법률로 정한다.
                재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원
                3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서 확정된다. 모든
                국민은 종교의 자유를 가진다. 재판의 전심절차로서 행정심판을 할 수 있다. 행정심판의
                절차는 법률로 정하되, 사법절차가 준용되어야 한다.
                대한민국의 국민이 되는 요건은 법률로 정한다. 국가는 모성의 보호를 위하여 노력하여야
                한다. 대통령은 법률이 정하는 바에 의하여 훈장 기타의 영전을 수여한다. 예비비는
                총액으로 국회의 의결을 얻어야 한다. 예비비의 지출은 차기국회의 승인을 얻어야 한다.
                한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서
                국회의 의결을 얻어야 한다.
            </div>
            <form action="#">
                <input type="checkbox">알바로그의 서비스 이용약관, 개인정보처리방침에 모두 동의합니다.</input>
            </form>
            <button type="submit">가입하기</button>
        </div>
    </div>
    

</body>
</html>