.searchBox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 45px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 3rem;
  select {
    width: 15%;
  }
  .btn-group {
    .btn-search,
    .btn-all {
      font-weight: 500;
      border: none;
      border-radius: 4px;
      padding: 0.5rem;
      margin-right: 4px;
    }
  }
}
