@import 'react-big-calendar/lib/sass/styles';

#ParttimeScheduler {
  height: 100%;
  width: 100%;
  padding: 63px 35px 20px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .container {
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;

    .calendar-box {
      height: 70%;
      width: 95%;
      margin: 47px 0;
      padding: 20px 20px 20px 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 5px 5px 5px grey;
    }
  }
}
