.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);

  .modal-wrap {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4rem;

    .invite-title {
      text-align: center;
      // margin-bottom: 3rem;
    }
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        margin-bottom: 1rem;
      }
      input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 2rem;
      }

      .btn-invite,
      .btn-close {
        width: 100%;
        margin-bottom: 1rem;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 0.75rem;
      }
      .btn-invite {
        background-color: #18191d;
        color: #fff;
        margin-top: 1rem;
      }
      .btn-close {
        border: 1px solid #dbdbdb;
      }
    }
  }
}
