#LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 304px;
    .loginLeft {
      display: flex;
      flex-direction: column;
      margin: 2rem;

      input {
        height: 44px;
        padding: 0 14px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #333;
        line-height: 20px;
        border-radius: 3px;
        background: #fff;
        outline: none;
        vertical-align: top;
      }
      .find-pw {
        font-size: 14px;
        .inner-find {
          float: right;
          a {
            margin-left: 5px;
          }
        }
      }

      .btn {
        color: whitesmoke;
        border-radius: 4px;
        height: 44px;
        width: 100%;
        padding: 0;
        margin: 10px 0;
      }

      .signIn {
        background: #389bdc;
      }

      .signUp {
        font-size: 12px;
        text-align: center;
        color: #666;
        a {
          text-decoration: underline;
          color: #333;
          font-size: 14px;
        }
      }
    }

    .loginRight {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      img {
        width: 460px;
        height: 140px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    #LoginPage {
      display: block;
      position: relative;
      #login {
        flex-direction: column-reverse;
        height: auto;
        .loginLeft {
          display: block;
          margin: 2rem 5px;
          input {
            width: 100%;
          }
          .signUp {
            margin-top: 10px;
            a {
              display: block;
              margin-top: 8px;
            }
          }
        }
        .loginRight {
          margin: 0;
          img {
            width: 200px;
            height: auto;
          }
        }
      }
    }
  }
}
