#LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 304px;
    .loginLeft {
      display: flex;
      flex-direction: column;
      margin: 2rem;

      * {
        height: 1.8rem;
        width: 100%;
        margin: 0.5rem;
      }

      input {
        height: 44px;
        padding: 0 14px;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #333;
        line-height: 20px;
        border-radius: 3px;
        background: #fff;
        outline: none;
        vertical-align: top;
      }

      .btn {
        color: whitesmoke;
        border-radius: 4px;
        height: 44px;
        width: 100%;
        padding: 0;
      }

      .signIn {
        background: #389bdc;
      }

      .signUp {
        background: #fff;
        line-height: 42px;
        color: #2987c4;
        font-weight: 500;
        border: 1px solid #2987c4;
        text-align: center;
      }
    }

    .loginRight {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      img {
        width: 500px;
        height: 150px;
      }
    }
  }
}
