#NoticeDetail {
  .notice-cont {
    .content-tit {
      width: 580px;
      margin: 0 auto;
      padding: 76px 0;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      .tit-date {
        font-size: 1rem;
        color: rgb(73, 80, 87);
        padding: 20px;
      }
    }

    .content-cont {
      overflow: hidden;
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      word-break: normal;
      padding-bottom: 200px;
      border-bottom: 1px solid #e9ecef;
    }
    .content-btn {
      padding-top: 20px;
      width: 700px;
      margin: 0 auto;
      overflow: hidden;
      .btn-move {
        float: left;
        width: 98px;
        height: 38px;
        margin-right: 10px;
        border: 1px solid #1e1e1e;
        font-size: 14px;
        line-height: 38px;
        color: #1e1e1e;
        text-align: center;
        text-decoration: none;
      }
      .btn-list {
        float: right;
        width: 100px;
        height: 40px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        background-color: #1271af;
        text-align: center;
        text-decoration: none;
      }
      .btn-list:first-child {
        background-color: #494949;
      }

      .btn-list:last-child {
        background-color: #fff;
        color: #1271af;
        border: 1px solid #1271af;
      }
    }
  }
}

@media screen and(max-width: 1515px) {
  body {
    #NoticeDetail {
      .notice-cont {
        width: 100%;
        margin-top: 50px;
        .content-tit {
          width: 100%;
          padding: 10px;
        }
        .content-cont {
          width: 100%;
          padding-bottom: 50px;
        }
        .content-btn {
          width: 100%;
          .btn-list {
            width: 60px;
            font-size: 13px;
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }
  }
}
