@import './constants/colors';

@import 'base/normalize';
@import 'base/reset';
@import 'base/fonts';
@import 'base/responsive';

body {
  padding: 75px 0 0 250px;
}

#main {
  width: 100%;
  height: 100%;
}

* {
  &::placeholder {
    color: #999;
  }
}

.img-center {
  width: 100%;
}

.btn-type1 {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 7px;
  border: none;
  color: #fff;
  background-color: #1271af;
}

.btn-type2 {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 7px;
  border: 1px solid #1271af;
  color: #1271af;
}
