@import './constants/colors';

@import 'base/normalize';
@import 'base/reset';
@import 'base/fonts';
@import 'base/responsive';

body {
  padding: 75px 0 0 250px;
}

#main {
  width: 100%;
  height: 100%;
}

* {
  &::placeholder {
    color: #999;
  }
}
