.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 1rem 4rem;
  background: #fff;

  .header-right {
    display: flex;
    align-items: center;
    .user-name {
      margin-right: 1rem;
    }
    .btn-invite,
    .btn-logout {
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      padding: 0.5rem;
      font-weight: 500;
    }
    .btn-invite {
      background-color: lightgreen;
      margin-right: 0.5rem;
    }
  }
}
