#contentline-container {
  .content-line {
    height: 35px;
    display: flex;
    background: white;
  }
  .date-column,
  .day-column,
  .clockIn-column,
  .clockOut-column,
  .workingtime-column {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
  }
}
