#Transition {
  width: 90%;
  .content {
    .cont-box {
      display: flex;
      padding: 20px;
      border-radius: 7px;
      margin-left: 20px;
      min-height: 100vh;
      width: 100%;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      .left-cont {
        padding: 40px 10px 20px 25px;
        .react-datepicker__current-month {
          font-size: 1.5rem;
          font-weight: 100;
        }
        .react-datepicker__day-name {
          width: 6rem;
          line-height: 5rem;
        }
        .react-datepicker__day {
          width: 6rem;
          height: 8rem;
          font-size: 15px;
        }
      }

      .right-cont {
        margin-left: 10px;
        flex: 1 auto;
      }
    }
  }
}

@media screen and(max-width:1660px) {
  body {
    .page-layout {
      padding: 0 !important;
    }
    #Transition {
      .content {
        .cont-box {
          margin-left: 0;
          .left-cont {
            .react-datepicker__day {
              width: 4rem;
              height: 4rem;
              font-size: 13px;
            }
            .react-datepicker__day-name {
              width: 4rem;
              line-height: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  html {
    body {
      #Transition {
        .content {
          .cont-box {
            border: none;
            overflow: inherit;
            padding: 0;
            height: 100%;
            margin-left: 0;
            flex-direction: column;
            align-items: center;
            .left-cont {
              padding: 20px 0 0 0;
              .react-datepicker__day {
                width: 2rem;
                height: 2rem;
                font-size: 12px;
              }
              .react-datepicker__day-name {
                width: 2rem;
                line-height: 1rem;
              }
            }
            .right-cont {
              margin-top: 20px;
              margin-left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
