#ProfileInfo {
  width: 100%;
  position: static;

  .tr-warning {
    height: 20px;

    p {
      display: flex;
      font-size: 1.1rem;
      justify-content: center;

      color: rgb(214, 6, 6);
      overflow: hidden;
    }
  }

  .tr {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0c8d0;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;

    .head,
    label {
      width: 185px;
      font-weight: bold;
    }

    .content > label {
      font-weight: normal;
      width: 100px;
    }

    .content {
      display: flex;

      justify-content: space-between;
      padding: 0 10px;

      .content-label {
        margin-right: 10px;
      }
    }
  }
  button {
    margin: 0 auto;
    color: whitesmoke;
    background: rgb(18, 113, 175);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 40px;
    border-radius: 15px;
    position: relative;
    top: 120px;
  }

  input {
    border: none;
  }
}
