.aside-container {
  position: fixed;
  width: 15%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
  padding: 0.5rem 1.5rem;
  .menu-item {
    span {
      margin-left: 1rem;
    }
  }
  .menu {
    padding: 3rem 0;
    .menu-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      font-weight: 500;
      font-size: 1.25rem;
      &:hover {
        background-color: #fafafa;
        border-radius: 4px;
      }
    }
  }
}
