#CategorySetting {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  .setting-modal {
    width: 700px;
    height: 721px;
    background-color: white;
    margin: 110px auto;
    padding: 20px;
    background: #fff;
    overflow-y: scroll;
    animation: fadein 1s;
    .modal-tit {
      position: relative;
      margin-bottom: 20px;
      h3 {
        font-weight: 500;
        font-size: 21px;
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          background-color: rgb(246, 245, 245);
        }
      }
    }

    .category-add {
      overflow: hidden;
      .category-add-inner {
        float: right;
        width: 300px;
        input {
          padding: 6px;
          font-size: 1rem;
          width: 60%;
          line-height: 1.5;
          outline: none;
          color: #212529;
          border: 1px solid #ccc;
          margin: 10px 0;
        }
        button {
          width: 24%;
          background-color: #1271af;
          height: 40px;
          color: #fff;
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }

    .category-list {
      padding: 15px;
      .categories {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e1dada;
        .category-name {
          flex-grow: 5;
          width: 300px;
          .name {
            padding: 14px 15px;
            font-size: 19px;
            width: 95%;
            line-height: 1.5;
            outline: none;
            color: #212529;
            border: none;
            &:hover {
              background-color: #eeeef0;
            }
          }
        }
        .category-modify {
          flex-grow: 1;
        }
        .category-delete {
          flex-grow: 1;
        }
        .btn {
          background-color: #eaeaea;
          border: 1px solid #e6ebf2;
          padding: 8px 16px;
          color: #332e2e;
          border-radius: 10px;
        }
      }
    }
  }
}


@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}