#ManualUpload {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  .upload-modal {
    width: 480px;
    height: 621px;
    background-color: white;
    margin: 110px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    .form-category {
      display: flex;
      select {
        display: block;
        padding: 6px;
        font-size: 1rem;
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
      }
      input {
        width: 35%;
        margin: 0 10px;
        border: 1px solid #ccc;
        font-size: 14px;
      }
      button {
        float: left;
        width: 70px;
        height: 40px;
        font-size: 13px;
        color: #fff;
        background-color: #4d4d4d;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
      }
    }

    .form-title {
      display: block;
      padding: 6px;
      font-size: 1rem;
      width: 100%;
      line-height: 1.5;
      outline: none;
      color: #212529;
      border: 1px solid #ccc;
      margin: 10px 0;
    }
    .modal-size {
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
        border: 1px solid #e8e6e6;
        min-height: 350px;
      }
      .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck:focus {
        border: 1px solid #e8e6e6;
        box-shadow: none;
      }
    }
    .update-btn {
      display: flex;
      justify-content: center;
      .btn:first-child {
        background-color: rgb(18, 113, 175);
      }
      .btn {
        width: 100px;
        margin-right: 20px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        color: #fff;
        margin-top: 20px;
        background-color: #4d4d4d;
      }
      .delete {
        background-color: #fff;
        color: rgb(18, 113, 175);
        border: 1px solid rgb(18, 113, 175);
      }
    }
  }
}
